<h2>
  <img src= {{country.flags.svg}} alt='flag' width='30' class='country-flag' />
  {{country.name.common}}
</h2>
<p>Capital: {{country.capital}}</p>
<p>Population: {{country.population}}</p>
<p>Languages: {{language.value.languages}}</p>



{{!-- `
    <h2>
      <img src='${country.flags.svg}' 
        alt='flag' 
        width='30' 
        class='country-flag'
      />
      ${country.name.common}
    </h2>
    <p>Capital: ${country.capital}</p>
    <p>Population: ${country.population}</p>
    <p>Languages: ${allLanguage}</p>
    ` --}}